body {
  font-family: 'Roboto', sans-serif;
  /* padding-top: 65px; */
}

.wrapper {
  position: relative;
  /* overflow: hidden; */
  padding-top: 65px;
  min-height: 100%;
}

[class*='__container'] {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
}

.logo--black {
  color: #000;
}

.page-header__nav {
  min-height: 60px;
}

.menu {
  font-size: 0;
}

.menu__item {
  position: relative;
  display: inline-block;
  color: #2196f3;
}

.menu__item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-size: 16px;
  color: #000;
  display: inline-block;
  padding: 5px 0px;
}

.menu__link:hover {
  color: #2196f3;
}

.sub-menu {
  background-color: #333;
  padding: 15px;
  position: absolute;
  min-width: 200px;
  top: 150%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.sub-menu__item {
  color: #fff;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.sub-menu__link {
  font-size: 16px;
}

.sub-menu__link:hover {
  color: #2196f3;
}

/* section examples */

.examples__container {
  max-width: 810px;
  margin: 0 auto;
}

.examples__items {
  padding: 25px 50px;
  background-color: #eee;
}

.static__title {
}
.title {
  margin-bottom: 15px;
}

.examples__items:not(:last-child) {
  margin-bottom: 100px;
}
.static {
}
.static__title {
}
.title {
  text-align: center;
  font-size: 38px;
  line-height: 1.5;
  font-weight: 900;
}

[class*='__block'] {
  padding: 15px;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
}

/* .static__block {
  color: #333;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
} */

/* static */

.static__block--bg-yellow {
  background-color: yellow;
}
.static__block--bg-blue {
  background-color: rgb(0, 119, 255);
}
.static__block--bg-tomato {
  background-color: tomato;
}

/* relative */

.relative__block {
  position: relative;
}

.relative__block--bg-orangered {
  background-color: orangered;
  z-index: 2;
}

.relative__block--bg-green {
  background-color: green;
  left: 50px;
  bottom: 30px;
  z-index: 1;
}

.relative__block--bg-violet {
  background-color: violet;
  bottom: 50px;
  z-index: 0;
}

/* absolute */

.absolute {
  position: relative;
}

.absolute__block {
}
.absolute__block--bg-purple {
  background-color: purple;
}
.absolute__block--bg-pink {
  background-color: pink;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
}
.absolute__block--bg-bisque {
  background-color: bisque;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

/* fixed */

.fixed {
  padding: 0;
  background-color: transparent;
}

.fixed__block {
  background-color: rgb(250, 246, 9);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 1;
}

/* section */

.battlefield {
  position: relative;
  z-index: 50;
}

.battlefield__background img {
  max-width: 100%;
}

.battlefield__tank img {
  max-width: 50%;
}

/* sticky */

.sticky {
  position: relative;
}

.sticky__block {
  position: sticky;
  top: 65px;
}
.sticky__block--bg-chocolate {
  background-color: chocolate;
}
.sticky__block--bg-brown {
  background-color: brown;
}
.sticky__block--bg-grey {
  background-color: grey;
}
